@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .filter-sm {
    @apply mx-auto flex h-11 w-max items-center justify-center rounded-xl px-[0.875rem] py-3 text-body-2-normal font-semibold;
  }

  .filter-lg {
    @apply mx-auto flex h-16 w-max items-center justify-center rounded-3xl px-6 py-3 text-heading-1 font-semibold;
  }

  .filter-default {
    @apply border border-gray-800 bg-gray-950 text-gray-200;
  }

  .filter-active {
    @apply border border-gray-700 bg-gray-700 text-gray-200;
  }

  .filter-active:hover {
    @apply border border-gray-700 bg-gray-800 text-gray-200;
  }

  .filter-inactive {
    @apply border border-gray-700 bg-gray-900 text-gray-500;
  }

  .custom-calendar {
    width: 100%;
    border: none;
  }

  .custom-calendar .react-calendar__tile--active,
  .custom-calendar .react-calendar__tile--hover {
    background-color: #ffa726 !important;
    color: white !important;
    border-radius: 50%;
  }

  .custom-calendar .selected-range {
    background-color: rgba(255, 167, 38, 0.5) !important;
    border-radius: 0;
  }
}
